{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block home %}active{% endblock %}

{% block content %}
<div data-aos="fade-down" class=".container p-5 bg-muted text-white">
    <h1>Welcome to Clickr.news</h1>
    <p>Your home for all news keyboard related!</p>
</div>

<div class="articles">
    {% for arti in articles %}
        <button data-aos="fade-up" data-aos-delay="50" class="article bg-dark" data-bs-toggle="modal" data-bs-target={{ '#' + arti[4] | replace('.', '') | replace('_', '')}}>
            <p class="h4 text-white">{{ arti[0] }}</p>
            <img src="{{ url_for('static', filename='blogs' + '/' + arti[4]) }}" width="310px" height="207px" style="object-fit: cover;">
        </button>
        <div class="modal" id="{{ arti[4] | replace('.', '') | replace('_', '') }}">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content bg-dark text-light">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">
                            {{ arti[0] }}<br>
                            <small>Author: {{ arti[1] }}, Published: {{ arti[2] }}</small>
                        </h4>
                        <button type="button" class="btn-close btn-light" data-bs-dismiss="modal"></button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <img class="img-fluid" src="{{ url_for('static', filename='blogs' + '/' + arti[4]) }}">
                        <md-block>{{ arti[3] }}</md-block>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}