{% extends "base.html" %}

{% block title %}Gallery{% endblock %}
{% block gallery %}active{% endblock %}

{% block content %}
<div data-aos="fade-up" id="textdiv"><p>Drag to view images</p></div>
<div data-aos="fade-down" id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
    <img class="image" src="{{ url_for('static', filename='kb1.webp') }}" draggable="false">
    <img class="image" src="{{ url_for('static', filename='kb2.webp') }}" draggable="false">
    <img class="image" src="{{ url_for('static', filename='kb3.webp') }}" draggable="false">
    <img class="image" src="{{ url_for('static', filename='kb4.webp') }}" draggable="false">
    <img class="image" src="{{ url_for('static', filename='kb5.webp') }}" draggable="false">
    <img class="image" src="{{ url_for('static', filename='kb6.webp') }}" draggable="false">
    <img class="image" src="{{ url_for('static', filename='kb7.webp') }}" draggable="false">
    <img class="image" src="{{ url_for('static', filename='kb8.webp') }}" draggable="false">
</div>

<div id="bigassspacer"></div>
{% endblock %}