<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/aos/dist/aos.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='logo.png') }}" height="40px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('gallery') }}">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('guide') }}">Build Guide</a>
                    </li>
                </ul>
                <div class="writebutton text-center"><a class="btn btn-secondary" href="{{ url_for('write') }}">Write an article</a></div>
            </div>
        </div>
    </nav>

    <div data-aos="fade-up" id="textdiv"><p>Drag to view images</p></div>
    <div data-aos="fade-up" id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
        <img class="image" src="{{ url_for('static', filename='kb1.webp') }}" draggable="false">
        <img class="image" src="{{ url_for('static', filename='kb2.webp') }}" draggable="false">
        <img class="image" src="{{ url_for('static', filename='kb3.webp') }}" draggable="false">
        <img class="image" src="{{ url_for('static', filename='kb4.webp') }}" draggable="false">
        <img class="image" src="{{ url_for('static', filename='kb5.webp') }}" draggable="false">
        <img class="image" src="{{ url_for('static', filename='kb6.webp') }}" draggable="false">
        <img class="image" src="{{ url_for('static', filename='kb7.webp') }}" draggable="false">
        <img class="image" src="{{ url_for('static', filename='kb8.webp') }}" draggable="false">
    </div>

    <div id="bigassspacer"></div>

    <footer id="footer">
        <div id="footer-content">
            <div class="footer-section">
                <h3 class="footer-section-title">General</h3>
                <div class="footer-section-links">
                    <a href="https://www.youtube.com/channel/UCdJ-WyCkyL7iGOEmnKgqkwQ" target="_blank">Directory</a>
                    <a href="https://www.youtube.com/channel/UCdJ-WyCkyL7iGOEmnKgqkwQ" target="_blank">About</a>
                    <a href="https://www.youtube.com/channel/UCdJ-WyCkyL7iGOEmnKgqkwQ" target="_blank">Contact Us</a>
                </div>
            </div>
            <div class="footer-section">
                <h3 class="footer-section-title">Social</h3>
                <div class="footer-section-links">
                    <a href="https://www.youtube.com/channel/UCdJ-WyCkyL7iGOEmnKgqkwQ" target="_blank">Twitter</a>
                    <a href="https://www.youtube.com/channel/UCdJ-WyCkyL7iGOEmnKgqkwQ" target="_blank">Discord</a>
                    <a href="https://www.youtube.com/channel/UCdJ-WyCkyL7iGOEmnKgqkwQ" target="_blank">YouTube</a>
                </div>
            </div>
            <div class="footer-section">
                <h3 class="footer-section-title">Legal</h3>
                <div class="footer-section-links">
                    <a href="https://www.youtube.com/channel/UCdJ-WyCkyL7iGOEmnKgqkwQ" target="_blank">Privacy</a>
                    <a href="https://www.youtube.com/channel/UCdJ-WyCkyL7iGOEmnKgqkwQ" target="_blank">Terms</a>
                    <a href="https://www.youtube.com/channel/UCdJ-WyCkyL7iGOEmnKgqkwQ" target="_blank">Cookies</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='node_modules/aos/dist/aos.js')}}"></script>
    <script>AOS.init();</script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>