<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guide</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/aos/dist/aos.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='logo.png') }}" height="40px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('gallery') }}">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('guide') }}">Build Guide</a>
                    </li>
                </ul>
                <div class="writebutton text-center"><a class="btn btn-secondary" href="{{ url_for('write') }}">Write an article</a></div>
            </div>
        </div>
    </nav>

    <div class=".container py-3 mx-auto bg-muted text-white" style="width: 80vw;">
        <h1 data-aos="fade-up">How to build your first keyboard</h1>
        <img data-aos="fade-up" class="articleimg" src="{{ url_for('static', filename='kb9.webp') }}" height="400px">
        <p data-aos="fade-up">In today's digital age, where keyboards are the gateway to our online interactions, many enthusiasts are discovering the joy of customizing their typing experience by building their own keyboards. From choosing the perfect switches to designing a unique layout, constructing a keyboard allows for unparalleled personalization and satisfaction. In this guide, we'll walk you through the step-by-step process of building your first keyboard, turning your workspace into a reflection of your individuality and creativity.</p>
        
        <h2 data-aos="fade-up">Understanding the Basics</h2>
        <p data-aos="fade-up">Before diving into the build process, it's essential to familiarize yourself with the fundamental components of a keyboard:</p>
        <ul>
            <li data-aos="fade-up"><strong>Switches</strong>: These are the mechanisms beneath each keycap that register keystrokes. Switches come in various types, each offering different tactile feedback and actuation force. The two most popular types are MX and Choc.</li>
            <li data-aos="fade-up"><strong>Keycaps</strong>: The physical keys that you press when typing. Keycaps come in different materials, profiles, and styles, allowing for customization to suit your preferences.</li>
            <li data-aos="fade-up"><strong>PCB (Printed Circuit Board)</strong>: The backbone of the keyboard, responsible for connecting the switches to the computer. The PCB determines the layout and features of the keyboard.</li>
            <li data-aos="fade-up"><strong>Plate</strong>: A rigid piece of material (often metal or plastic) that holds the switches in place and provides stability.</li>
            <li data-aos="fade-up"><strong>Case</strong>: The outer shell of the keyboard that encloses all the components. Cases come in various materials, such as aluminum, wood, or acrylic, and can significantly impact the keyboard's aesthetics and sound profile.</li>
            <li data-aos="fade-up"><strong>Stabilizers</strong>: These components ensure that larger keys (like the spacebar and enter key) press evenly and smoothly.</li>
        </ul>
        <img data-aos="fade-up" class="articleimg" src="{{ url_for('static', filename='kb10.webp') }}" height="400px">

        <h2 data-aos="fade-up">Choosing a keyboard</h2>
        <p data-aos="fade-up">Selecting the right layout is a crucial step in building your first keyboard. The layout determines the arrangement of keys and can significantly impact your typing experience and comfort. Here are some popular keyboard layouts to consider:</p>
        <ul>
            <li data-aos="fade-up"><strong>Full Size</strong>: This layout includes all the standard keys, including a numeric keypad, function row, and navigation cluster.</li>
            <li data-aos="fade-up"><strong>Ten-key-less (TKL)</strong>: Similar to the full-size layout but without the numeric keypad.</li>
            <li data-aos="fade-up"><strong>75%</strong>: Extremely similar to TKL - squashes the arrow keys and page navigation keys into the main bulk of the keyboard.</li>
            <li data-aos="fade-up"><strong>60%</strong>: A minimalist layout that removes the function row, navigation cluster, and numeric keypad. Ideal for users who prioritize space efficiency.</li>
            <li data-aos="fade-up"><strong>40%</strong>: 60% but on steroids. Removes the function row, nagivation cluster, numeric keypad, and the number keys. Choose this if every square centimeter counts on your desk.</li>
            <li data-aos="fade-up"><strong>Split</strong>: Usually come in 40% or 60% layouts, but split in two. Removes row stagger (usually), and prioritises ergonomics over ease of use. Hard to learn, but can be extremely fast for experienced users.</li>
        </ul>
        <img data-aos="fade-up" class="articleimg" src="{{ url_for('static', filename='kb11.webp') }}" height="400px">

        <h2 data-aos="fade-up">Build Guide</h2>
        <p data-aos="fade-up">Once you've chosen your keyboard, you will need to buy switches, keycaps, and a cable. Choose whatever you think looks nicer on your desk.</p>
        <ol>
            <li data-aos="fade-up">Insert stabilizers into the PCB if necessary. This will be on the spacebar, the enter key, the shift key, and any other big keys.</li>
            <li data-aos="fade-up">Start by inserting the switches into the plate, ensuring they are all aligned correctly.</li>
            <li data-aos="fade-up">Install the plate (with the switches) into the PCB. Ensure none of the pins on the switches are bent.</li>
            <li data-aos="fade-up">Place the assembled PCB and plate into the case, securing them in place.</li>
            <li data-aos="fade-up">Install keycaps onto the switches, ensuring they are seated correctly and evenly.</li>
        </ol>
        <p data-aos="fade-up">And you're done!</p>
        <img data-aos="fade-up" class="articleimg" src="{{ url_for('static', filename='kb12.webp') }}" height="400px">

        <h2 data-aos="fade-up">Firmware</h2>
        <p data-aos="fade-up">Some keyboards will come with preinstalled firmware, but if your keyboard supports uploading custom firmware, you can edit your layout or lighting (if you have it).<br>Most keyboards will be using QMK. Head to <a href="https://docs.qmk.fm/">docs.qmk.fm</a> to learn more.</p>
    </div>

    <footer id="footer">
        <div id="footer-content">
            <div class="footer-section">
                <h3 class="footer-section-title">General</h3>
                <div class="footer-section-links">
                    <a href="https://www.youtube.com/channel/UCdJ-WyCkyL7iGOEmnKgqkwQ" target="_blank">Directory</a>
                    <a href="https://www.youtube.com/channel/UCdJ-WyCkyL7iGOEmnKgqkwQ" target="_blank">About</a>
                    <a href="https://www.youtube.com/channel/UCdJ-WyCkyL7iGOEmnKgqkwQ" target="_blank">Contact Us</a>
                </div>
            </div>
            <div class="footer-section">
                <h3 class="footer-section-title">Social</h3>
                <div class="footer-section-links">
                    <a href="https://www.youtube.com/channel/UCdJ-WyCkyL7iGOEmnKgqkwQ" target="_blank">Twitter</a>
                    <a href="https://www.youtube.com/channel/UCdJ-WyCkyL7iGOEmnKgqkwQ" target="_blank">Discord</a>
                    <a href="https://www.youtube.com/channel/UCdJ-WyCkyL7iGOEmnKgqkwQ" target="_blank">YouTube</a>
                </div>
            </div>
            <div class="footer-section">
                <h3 class="footer-section-title">Legal</h3>
                <div class="footer-section-links">
                    <a href="https://www.youtube.com/channel/UCdJ-WyCkyL7iGOEmnKgqkwQ" target="_blank">Privacy</a>
                    <a href="https://www.youtube.com/channel/UCdJ-WyCkyL7iGOEmnKgqkwQ" target="_blank">Terms</a>
                    <a href="https://www.youtube.com/channel/UCdJ-WyCkyL7iGOEmnKgqkwQ" target="_blank">Cookies</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='node_modules/aos/dist/aos.js')}}"></script>
    <script>AOS.init();</script>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>